<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div>
      <h3>Reset Password Form</h3>
      <form>
        <label for="email"></label>
        <input type="email" name="email" id="email" required />
        <input
          type="submit"
          name="submit"
          id="forgotPasswordClickEvt"
          value="Send"
        />
      </form>
    </div>
    <script type="text/javascript">
      let forgotPasswordClickEvt = document.getElementById(
        "forgotPasswordClickEvt"
      );
      forgotPasswordClickEvt.addEventListener("click", forgotPasswordClickEvt);

      function forgotPassword(event) {
        event.preventDefault();
        let data = "email" + document.getElementById("email").value;
        ajaxCall(data, "http://localhost:3000/auth/forgot_password", function(
          status,
          response
        ) {
          if (status == 200) {
            alert("Successfully sent");
          } else {
            alert("Error", status);
          }
        });
      }

      function ajaxCall(data, url, callback) {
        let xhttp = new XMLHttpRequest();
        xhttp.open("POST", url, true);
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
            return callback(this.status, JSON.parse(xhttp.response));
          }
        };
        xhttp.setRequestHeader("Content-type", "application/x-www-urlencoded");
        xhttp.send(data);
      }
    </script>
  </body>
</html>
